*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    position: relative;
    left: 20%;
    margin-top: 32px;
    align-items: center;
}

.header-logo{
    width: 120px;
    height: 120px;
}

.header-input{
    border: 1px solid #ccc;
    outline: none;
    height: 52px;
    font-size: 16px;
    width: 600px;
    text-indent: 20px;
}

.logo-container{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.logo-container i{
    color:#fff;
    background-color: #e23e57;
    height: 80px;
    width: 80px;
    font-size: 32px;
    text-align: center;
    line-height: 80px;
    margin-right: 12px;
    border-radius: 8px;
}

.head-name:hover{
    color:#00cc33;
} 



.nav-list{
    color:#fff;
    background-color: #00cc33;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    height: 52px;
}

.nav-item:first-child{
    margin-left: 12px;
}

.nav-item:nth-child(3):hover .nav-list-lv2{
    display: block;
}

.nav-item{
    display: block;
    height: 100%;
    line-height: 52px;
}

.nav-item:hover{
    background-color: #006d00;
}

.text-border::after{
    content:"";
    border-left:1px solid #fff;
    margin-left: 12px;
}

.nav-input{
    margin-right: 12px;
    padding:10px;
    position: relative;
    bottom: 5%;
}

.nav-item i{
    position: absolute;
    color:#000;
    right: 1%;
    line-height: 52px;
    font-size: 16px;
}

.nav-list-lv2{
    color:#fff;
    background-color: #00cc33;
    font-size: 20px;
    display: none;
}

.nav-item-lv2{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    text-transform: capitalize;
}

.body{
    margin-top:24px;
}

.input-body{
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    position: relative;
    outline: none;
}

.body-input i{
    background-color: #888;
    height: 36px;
    width: 50px;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 36px;
}

.body-desc{
    background-color: #ccc;
    color:#006d00;
    width: 265px;
    margin-top: 20px;
    font-size: 24px;
    padding-left: 12px;
    text-transform: uppercase;
    height: 52px;
    line-height: 52px;
}

.info-content{
    margin-top: 20px;
    width: 265px;
    text-align: center;
}

.info-info{
    border-bottom: 1px solid #000;
    width: 265px;
    padding-left: 12px;
}

.avatar{
    width: 120px;
    height: 120px;
}

.info-name,
.info-content span{
    color:rgb(66, 147, 147);
}

.info-email{
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
}

.fa-phone-volume{
    color:#fff;
    background-color: #e23e57;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 62px;
    padding-top: 30px;
    margin-top: 32px;
}