body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.box {
    width: 50px;
    height: 50px;
    background-color: darkorange;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter-1{
    display: flex;
    align-items: center;
}

.box-1{
    display: flex;
    flex-direction: column;
}

.box-2{
    display: flex;
    flex-direction: column;
}

.letter-2{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.letter-3{
    display: flex;
}

.letter-4{
    display: flex;
}

.letter-4 > .box{
    align-self:  center;

}

.letter-4 > .box-1{
    margin: 12px 0!important;
}